### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.class
*.log
*.jar
*.war
.DS_Store
/news-dev-common/target/
/news-dev-model/target/
/news-dev-service-api/target/
/news-dev-service-user/target/
/newes-dev-service-article/target/
/mybatis-generator-database/
/news-dev-service-admin/target/
/news-dev-service-search/target/
/target/
*.yml
