# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
!/workspace.xml
!/compiler.xml
!/encodings.xml
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/compiler.xml
!/runConfigurations.xml

